<div class='root-page'>
  <h1>Welcome to the Idea Box!</h1>
  <h2>Please sign in to continue</h2>
  <%= button_to 'Sign Up to Be a New User', new_user_path, method: 'get' %>
  <%= button_to 'Login', login_path, method: 'get' %>
</div>
