<h1>All Images</h1>
<div class="all-images">
  <% @images.each do |i| %>
    <div class="idea-image">
      <%= link_to i.title, admin_image_path(i) %>
      <img src="<%= i.link %>">
    </div>
  <% end %>
</div>

<%= button_to 'Create Image', new_admin_image_path, method: 'get' %>
